footer{
    width: 100%;
    padding: 30px 8%;align-items: center;
    display: flex; flex-direction: column;  justify-content: center;
}

footer .one{
    width: 100%; display: flex; justify-content: center; border-bottom: solid 1px silver;
    padding: 30px 0;
    height: fit-content;
    padding-bottom: 60px;
}

footer .one .sp{
    display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;
    width: 100%;
    row-gap: 10px;
}

footer .one .sp p{
    font-size: 14px;
    color: #7C859D;
}

footer .one .asp{
    display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;
    width: fit-content;
    margin: 0 10%;
}

footer .one .asp .title{
    font-weight: 600;
font-size: 16px;
line-height: 150%;
text-transform: uppercase;
color: #7C859D;
}

footer .one .asp a{
    white-space: nowrap;
    font-size: 15px;
    font-weight: 400;
    color: #373D4A;    
}

footer .one .sp .tt1{
    font-weight: 700; font-family: 'lora', sans-serif;
    font-size: 22px;
    line-height: 150%;
    color: #18191B;   
}

footer .one .sp .tt2{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #7C859D;   
}

footer .one .sp form{
    display: flex; align-items: center; justify-content: space-between;border: solid 1px #18191B; border-radius: 8px; 
    width: 100%; background-color: white; overflow: hidden;
    height: 50px; margin-top: 10px;
}

footer .one .sp form input{
    padding: 0 15px; height: 100%; width: 100%; border: none; outline: none;
}

footer .one .sp form button{
    height: 100%; padding: 0 20px; display: flex; align-items: center; justify-content: center;  border: none; outline: none;
    /* border: solid; */ background-color: transparent;
}


footer .two{
    width: 100%; display: flex; justify-content: space-between;
    padding-top: 30px;
}

footer .two .sp1{
    display: flex; align-items: center; justify-content: flex-start; gap: 20px;
}

footer .two .sp1 a{
    color: #7C859D;
}

footer .two .sp1 a i{
    font-size: 20px;
}


footer .two .sp2{
    display: flex; align-items: center; justify-content: flex-end; gap: 20px;
    flex-wrap: wrap;
}

footer .two .sp2 a{
    font-size: 14px; color: #7C859D;
    white-space: nowrap;
}



@media screen and (max-width: 1000px) {
    footer{
        width: 100%;
        padding: 30px 7%;align-items: center;
        display: flex; flex-direction: column;  justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    footer .one .asp{
        margin: 0 4%;
    }

     footer{
        padding: 30px 4%;
    }
}

@media screen and (max-width: 750px) {
    footer .one{
    width: 100%; display: flex; justify-content: center; border-bottom: solid 1px silver;
    padding: 30px 0;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 60px;
    row-gap: 40px;
    align-items: center;
    }

    footer .one .sp{
        width: 95%;
    }
    footer .one .asp{
        margin: 0 0; margin-right: auto;
        margin-left: 4%;
        /* border: solid; */
    }

    footer .two{
        row-gap: 20px;
        flex-direction: column;
    }

    footer .two .sp2{
      justify-content: flex-start;
    }



}

@media screen and (max-width: 650px) {
    footer .one{
    width: 100%; display: flex; justify-content: center; border-bottom: solid 1px silver;
    padding: 30px 0;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 60px;
    row-gap: 40px;
    align-items: center;
}

footer .one .sp{
    width: 95%;
}
    footer .one .asp{
    display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;
    width: fit-content;
    margin: 0 0; margin-right: auto;
    margin-left: 4%;

}

    footer .two .sp2{
    display: flex; align-items: center; justify-content: flex-start; gap: 20px;
    flex-wrap: wrap;
}


}