.not_bar{
    border: solid;
    width: 400px;
    height: 100vh;
    background-color: black;
    position:fixed;
    display: flex; align-items: center; justify-content: center;
    top: 0;
    right: 0;
    /* margin-right: 400px; */
    z-index: 1000;
    display: none;
}
